<!DOCTYPE html>
<html lang="es-cl">
    {%load static%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'modulos/css/bootstrap.css'%}">
    <link rel="stylesheet" href="{% static 'modulos/css/flexboxgrid.css'%}">
    <script src="https://kit.fontawesome.com/dc320c12ea.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="{% static 'modulos/css/style.css'%}">
    <title>Iniciar sesión</title>
</head>

<body>


    <!-- Barra de navegacion -->
    
    {% include "nav.html" %}

    <section class="fondo-registro">
        <div class="login-box">
            <img class="avatar" src="{% static 'modulos/img/logo.png'%}" alt="Logo">
            
            <h1>Login</h1>

            
            <form id="form-login" method="POST">
             <!-- Usuario-->
                {% csrf_token %}
                <label for="username">Usuario</label>
                <input type="text" placeholder="Ingrese Usuario" name="usuarioLogin">
           
        
             <!--Contraseña-->
        
                <label for="password">Contraseña</label>
                
                <input type="password" placeholder="Ingrese Contraseña" name="contraseñaLogin">
                        
                <input type="Submit" value="Iniciar Sesión"  > 
                {% if error %}
                <p style="color:red">{{error}}</p>
                {% endif %}
            
        
             <a href="">¿Olvidaste tu contraseña?</a>
             <br>
             <a href="">¿No tienes una cuenta?</a>
        
        
             
            </form>
        </div>
    </section>
   


    <!-- Scripts -->
    <script src="js/jquery-3.4.1.js"></script>
    <script src="js/jquery.validate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="js/bootstrap.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script src="js/validacion.js"></script>
</body>

</html>