<!DOCTYPE html>
<html lang="en">
{%load static%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap core CSS -->
    <link href="{% static 'modulos/css/bootstrap.min.css'%}" rel="stylesheet">

    <script src="https://kit.fontawesome.com/dc320c12ea.js"></script>
    <link href="{% static 'modulos/css/style_profile.css'%}" rel="stylesheet">
    <title>profile</title>
</head>

<body>

    <div class="d-flex" id="wrapper">


        <div class=" border-right bg-dark" id="sidebar-wrapper">
            <div style="color: white;" class="sidebar-heading "> Calistenia web </div>
            <div class="list-group list-group-flush">
                <a href="#"style="color: white;"  class="list-group-item list-group-item-action bg-dark">
                        <i  class="fas fa-user-edit"></i> Editar perfil</a>
                <a href="#" style="color: white;"class="list-group-item list-group-item-action bg-dark"> <i class="fas fa-dumbbell"></i> Rutinas</a>
                <a href="#"style="color: white;" class="list-group-item list-group-item-action bg-dark"><i class="fas fa-trophy"></i> Puntos</a>
            </div>
        </div>

        <div id="page-content-wrapper">

            <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom">
                <button class="btn btn-info" id="menu-toggle">Menú</button>

                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url "inicio" %}"> <i class="fas fa-home"></i>Inicio <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "inicio" %}"><i class="fas fa-sign-out-alt"></i>Salir</a>
                        </li>
                        
                    </ul>
                </div>
            </nav>

            <div style="padding-left: 25%;" class="container-fluid">
                <h1 class="mt-4">Editar perfil</h1>
                    <form class="form-container col-md-8" id="form-register" method="POST">
    
                        <!-- NOMBRE DE USUARIO  -->
                        <div class="form-group row">
                                <label for="" class="col-sm-2 col-form-label"> username:</label>
                                <div class="col-sm-10">
                                  <input required type="email" class="form-control" id="inputEmail3">
                                </div>
                        </div>
        
                        <!-- NOMBRE -->
                        <div class="form-group row">
                                <label for="" class="col-sm-2 col-form-label"> Nombre:</label>
                                <div class="col-sm-10">
                                  <input required type="email" class="form-control" id="inputEmail3">
                                </div>
                        </div>
    
                        <!-- APELLIDO -->
                        <div class="form-group row">
                                <label for="" class="col-sm-2 col-form-label"> Apellido:</label>
                                <div class="col-sm-10">
                                  <input required type="email" class="form-control" id="inputEmail3">
                                </div>
                        </div>
    


                        <!-- CORREO ELECTORNICO -->
                        <div class="form-group row">
                                <label for="" class="col-sm-2 col-form-label"> Email:</label>
                                <div class="col-sm-10">
                                  <input required type="email" class="form-control" id="">
                                </div>
                        </div>
    
                      
                        <!-- CONTRASEÑA -->
                        <div class="form-group row">
                            <label for="" class="col-sm-2 col-form-label"> Contraseña:</label>
                            <div class="col-sm-10">
                                    <input required class="form-control" id="clave" type="password" minlength="6" name="contraseña" required class=" form-input" >

                                    <small id="passwordHelpInline" class="text-muted">
                                       La contraseña debe tener minimo 6 caracteres
                                     </small>
                            </div>
                        </div>
    
                        <!-- CONTRASEÑA 2 -->
                        <div class="form-group row">
                                <label for="" class="col-sm-2 col-form-label">Contraseña:</label>
                                <div class="col-sm-10">
                                        <input required placeholder="Confirmar contraseña" class="form-control" id="clave" type="password" minlength="6" name="contraseña" required class=" form-input" >
    
                                        <small id="passwordHelpInline" class="text-muted">
                                           La contraseña debe tener minimo 6 caracteres
                                         </small>
                                </div>
                            </div>
                        
                        
                        <button type="submit" id="btnRegistrar" class="btn btn-success"> <i class="far fa-save"></i> Guardar cambios</button>
                        <button type="button" id="btnRegistrar" class="btn btn-danger"> <i class="fas fa-times-circle"></i> Cancelar </button>
                        <br>

                    </form>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="jquery/jquery.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>


</body>

</html>